@font-face {
    font-family: 'Undertale'; /*a name to be used later*/
    src: url('media/MonsterFriendFore.otf'); /*URL to font*/
}
@font-face {
    font-family: 'sansUndertale'; /*a name to be used later*/
    src: url('media/comic-sans-ut.otf'); /*URL to font*/
}
@font-face {
    font-family: 'narration'; /*a name to be used later*/
    src: url('media/8bitoperator.otf'); /*URL to font*/
}
@font-face {
    font-family: 'mercy'; /*a name to be used later*/
    src: url('media/mercy.otf'); /*URL to font*/
}
@font-face {
    font-family: 'ceroba'; /*a name to be used later*/
    src: url('media/ceroba.otf'); /*URL to font*/
}

* {
    text-align: center;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
    padding: 20px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: Undertale, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10vw;
    margin-top: 5vh;
    margin-bottom: 0;
}

#pacifist {
    font-size: 7vw;
}

#AUs span {
    font-size: 7vw;
}

@media screen and (min-width: 990px) {
    #sans {
        font-size: 99px;
    }
}

@media screen and (min-width: 840px) {
    #neutral {
        font-size: 84px;
    }
}

@media screen and (min-width: 1050px) {
    #pacifist {
        font-size: 73.5px;
    }
}

@media screen and (min-width: 840px) {
    #noMercy {
        font-size: 84px;
    }
}

@media screen and (min-width: 900px) {
    #AUs {
        font-size: 90px;
    }

    #AUs span {
        font-size: 63px;
    }
}

h2, h3 {
    font-family: ceroba;
    font-weight: 500;
}

p {
    font-family: narration;
}

hr {
    height: 3px;
    background-color: white;
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
}

.secondaryHr {
    height: 1px;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    width: 80%;
}

.sectionTitle {
    font-family: Undertale, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
}

.mainText {
    border: 3px solid white;
    padding: 10px;
    max-width: 580px;
    margin-right: auto;
    margin-left: auto;
}

.overlayContainer {
    position: relative;
}

#titleImage {
    width: 30%;
    height: auto;
    position: relative;
}

#titleImage:hover  {
    cursor: pointer;
}

#slash {
    display: none;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}

.titleAni {
    animation-name: dodge;
    animation-duration: 2s;
}

@keyframes dodge {
    0% {right: 0;}
    25% {right: 25%;}
    65% {right: 25%;}
    100% {right: 0;}
}

.titleQuote {
    font-family: "Raleway";
    font-style: italic;
}

.sansQuote {
    font-family: sansUndertale;
    font-style: italic;
    font-weight: 300;
}

#statQuotes {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    place-items: center;
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
}

.judgeQuote {
    font-family: sansUndertale;
    font-style: italic;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
}

#EXP {
    grid-column: 1/1;
    min-width: 220px;
}

#LOVE {
    grid-column: 3/3;
    min-width: 220px;
}

#overworldSans {
    grid-column: 2/2;
    width: 80%;
}

.quoteHighlight {
    color: #DC143C;
}

@media screen and (max-width: 505px) {
    #statQuotes {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
    .judgeQuote {
        font-family: sansUndertale;
        font-style: italic;
        background-color: white;
        color: black;
        padding: 20px;
        border-radius: 15px;
    }
    
    #EXP {
        min-width: 0;
    }
    
    #LOVE {
        min-width: 0;
    }
    
    #overworldSans {
        display: none;
    }
}

.pixelImg {
    image-rendering: pixelated;
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: none; 
}

a:active { 
    text-decoration: none; 
}

.caption {
    font-family: "Raleway";
    font-size: 13px;
    color: rgba(255,255,255,0.8);
}

.caption a {
    text-decoration: underline; 
    color: rgba(255,255,255,0.9);
}

.routes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    max-width: 920px;
}

.nonRoutes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20%;
    max-width: 920px;
}

#AUsButton p .lowercase {
    font-size: 29.867px;
    margin-left: -1px;
    margin-right: 2px;
}

.button {
    align-items: center;
    font-family: mercy;
    font-size: 42.667px;
    letter-spacing: -5px;
    color: rgba(235,122,35,255);
    width: max-content;
    height: max-content;
    margin: -6px 1px -1px 6px;
}

.buttonBorder {
    display: block;
    border: 3px solid rgba(235,122,35,255);
    width: max-content;
    height: max-content;
    overflow: hidden;
    margin: 10px;
}

.buttonBorder:hover .button {
    color: rgba(255,255,0,255);
}

.buttonBorder:hover {
    border: 3px solid rgba(255,255,0,255);
    cursor: pointer;
}

.buttonBorder:active .button {
    color: rgba(255,255,175,255);
}

.buttonBorder:active {
    border: 3px solid rgba(255,255,175,255);
}

.AU {
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: min-content;
}

.AU img {
    width: 100%;
}

.underswap{
    max-width: 324px;
}

.underfell{
    max-width: 224px;
}

.horrortale{
    max-width: 324px;
}

.inkSans{
    max-width: 324px;
}

.errorSans{
    max-width: 374px;
}


.AUContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#modified {
    font-size: 16px;
}

#credits {
    display: flex;
    flex-direction: row;
}

.credit {
    margin: 10px;
}

.textLink {
    color: rgba(235,122,35,255);
}

.textLink:hover {
    color: rgba(255,255,0,255);
}

.textLink:active {
    color: rgba(255,255,175,255);
}

.textWidth {
    width: 100%;
    max-width: 570px;
}

#sansVideo {
    width: 570px;
    height: 427.5px;
}

@media screen and (max-width: 630px) {
    /* Aspect Ratio code from: https://stackoverflow.com/questions/25302836/responsive-video-iframes-keeping-aspect-ratio-with-only-css*/
    .aspectRatio {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 75%; /* The height of the item will now be 56.25% of the width. */
    }
  
    /* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
    .aspectRatio #sansVideo {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}
