@font-face {
    font-family: 'Undertale'; /*a name to be used later*/
    src: url('media/MonsterFriendFore.otf'); /*URL to font*/
}
@font-face {
    font-family: 'sansUndertale'; /*a name to be used later*/
    src: url('media/comic-sans-ut.otf'); /*URL to font*/
}
@font-face {
    font-family: 'narration'; /*a name to be used later*/
    src: url('media/8bitoperator.otf'); /*URL to font*/
}
@font-face {
    font-family: 'mercy'; /*a name to be used later*/
    src: url('media/mercy.otf'); /*URL to font*/
}
@font-face {
    font-family: 'ceroba'; /*a name to be used later*/
    src: url('media/ceroba.otf'); /*URL to font*/
}

* {
    text-align: center;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
    padding: 20px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: Undertale, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10vw;
    margin-top: 5vh;
    margin-bottom: 0;
}

#pacifist {
    font-size: 7vw;
}

#AUs span {
    font-size: 7vw;
}

@media screen and (min-width: 990px) {
    #sans {
        font-size: 99px;
    }
}

@media screen and (min-width: 840px) {
    #neutral {
        font-size: 84px;
    }
}

@media screen and (min-width: 1050px) {
    #pacifist {
        font-size: 73.5px;
    }
}

@media screen and (min-width: 840px) {
    #noMercy {
        font-size: 84px;
    }
}

@media screen and (min-width: 900px) {
    #AUs {
        font-size: 90px;
    }

    #AUs span {
        font-size: 63px;
    }
}

h2, h3 {
    font-family: ceroba;
    font-weight: 500;
}

p {
    font-family: narration;
}

hr {
    height: 3px;
    background-color: white;
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
}

.secondaryHr {
    height: 1px;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    width: 80%;
}

.sectionTitle {
    font-family: Undertale, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
}

.mainText {
    border: 3px solid white;
    padding: 10px;
    max-width: 580px;
    margin-right: auto;
    margin-left: auto;
}

#titleImage {
    width: 30%;
    height: auto;
}

.titleQuote {
    font-family: "Raleway";
    font-style: italic;
}

.sansQuote {
    font-family: sansUndertale;
    font-style: italic;
    font-weight: 300;
}

.judgeQuote {
    font-family: sansUndertale;
    font-style: italic;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
}

#statQuotes {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    place-items: center;
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
}

#EXP {
    grid-column: 1/1;
    min-width: 190px;
}

#LOVE {
    grid-column: 3/3;
    min-width: 190px;
}

#overworldSans {
    grid-column: 2/2;
    width: 80%;
}

.quoteHighlight {
    color: #DC143C;
}

.pixelImg {
    image-rendering: pixelated;
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: none; 
}

a:active { 
    text-decoration: none; 
}

.caption {
    font-size: small;
    color: rgba(255,255,255,0.8);
}

.caption a {
    text-decoration: underline; 
    color: rgba(255,255,255,0.9);
}

.routes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    max-width: 920px;
}

.nonRoutes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20%;
    max-width: 920px;
}

#AUsButton p .lowercase {
    font-size: 29.867px;
    margin-left: -1px;
    margin-right: 2px;
}

.button {
    align-items: center;
    font-family: mercy;
    font-size: 42.667px;
    letter-spacing: -5px;
    color: rgba(235,122,35,255);
    width: max-content;
    height: max-content;
    margin: -6px 1px -1px 6px;
}

.buttonBorder {
    display: block;
    border: 3px solid rgba(235,122,35,255);
    width: max-content;
    height: max-content;
    overflow: hidden;
    margin: 10px;
}

.buttonBorder:hover .button {
    color: rgba(255,255,0,255);
}

.buttonBorder:hover {
    border: 3px solid rgba(255,255,0,255);
}

.AU {
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
    width: min-content;
    height: min-content;
}

.AUContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.modified {
    font-size: 16px;
}