@font-face {
    font-family: 'Undertale'; /*a name to be used later*/
    src: url('media/MonsterFriendFore.otf'); /*URL to font*/
}
@font-face {
    font-family: 'sansUndertale'; /*a name to be used later*/
    src: url('media/comic-sans-ut.otf'); /*URL to font*/
}
@font-face {
    font-family: 'narration'; /*a name to be used later*/
    src: url('media/8bitoperator.otf'); /*URL to font*/
}
@font-face {
    font-family: 'mercy'; /*a name to be used later*/
    src: url('media/mercy.otf'); /*URL to font*/
}

* {
    text-align: center;
    box-sizing: border-box;
    color: white;
}

p {
    font-family: narration;
}

body {
    background-color: black;
    padding: 20px;
}

h1 {
    font-family: Undertale, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10vw;
    margin-top: 5vh;
    margin-bottom: 0;
}

.mainText {
    border: 3px solid white;
    padding: 10px;
    max-width: 580px;
    margin-right: auto;
    margin-left: auto;
}

#titleImage {
    height: 30vw;
    image-rendering: pixelated;
}

.titleQuote {
    font-family: "Raleway";
    font-style: italic;
}

.sansQuote {
    font-family: sansUndertale;
    font-style: italic;
    font-weight: 300;
}

.judgeQuote {
    font-family: sansUndertale;
    font-style: italic;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
}

#statQuotes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
}

#EXP {
    grid-column: 1/1;
}

#LOVE {
    grid-column: 3/3;
}

#overworldSans {
    width: 70%;
}

.quoteHighlight {
    color: #DC143C;
}

.pixelImg {
    image-rendering: pixelated;
}

.secondaryHr {
    border-color: rgba(255, 255, 255, 0.5);
    margin: 8px 70px;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    max-width: 920px;
}

#AUs {
    margin-right: auto;
    margin-left: auto;
}

#AUs p .lowercase {
    font-size: 29.867px;
    margin-left: -1px;
    margin-right: 2px;
}

.button {
    align-items: center;
    font-family: mercy;
    font-size: 42.667px;
    letter-spacing: -5px;
    color: rgba(235,122,35,255);
    width: max-content;
    height: max-content;
    margin: -6px 1px -1px 6px;
}

.buttonBorder {
    display: block;
    border: 3px solid rgba(235,122,35,255);
    width: max-content;
    height: max-content;
    overflow: hidden;
    margin: 10px;
}

.buttonBorder:hover .button {
    color: rgba(255,255,0,255);
}

.buttonBorder:hover {
    border: 3px solid rgba(255,255,0,255);
}